<div class="rich_media_meta_list">
    <span class="rich_media_meta rich_tag" id="copyright_logo"><%=tag%></span>
    <em class="rich_media_meta rich_media_meta_text" id="post-date"><%=timestamp%></em>
    <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="<%=url%>" id="post-user"><%=source%></a>
</div>