
.rich_media_meta_list {
  line-height: 20px;
  font-size 12px;
  padding 8px;
}

.meta_original_tag {
  line-height: 100px;
  overflow: hidden;
  background: transparent url(http://h.chuansong.me/icon_original_tag.jpg) no-repeat 0 0;
  width: 49px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

.rich_media_meta_text {
  color: #8c8c8c;
}
.rich_media_meta {
  padding 6px;
}

.rich_media_meta_nickname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 9em;
}

a {
  color: #607fa6;
  text-decoration: none;
}

.rich_tag{
    border 1px solid #999
    color #999
    -webkit-border-radius  30px;
  }