.item.product-detail {
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.list .item {
  border-bottom: 1px solid #f0f1f3;
  padding: 14px 0;
}

.item.product-detail .picture-wrapper, .item.product-detail .picture {
  background: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.item.product-detail .image, .item.product-detail .picture-wrapper, .item.product-detail .picture {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 0;
}

.item.product-detail .info {
  width: 100%;
  padding-left: 124px;
  margin-left: -112px;
  line-height: 20px;
  height: 112px;
}

.item.product-detail .info .title {
  height: 40px;
  color: #424242;
}
.text-lg {
  font-size: 14px;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.item.product-detail .info .text-attention {
  height: 26px;
  padding-top: 10px;
}
.text-lg {
  font-size: 14px;
}
.text-attention {
  color: #ff4252;
}

.x-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}


.text-abstract {
  padding 5px;
  font-size 12px;
  color: #999;
  -webkit-border-radius:5px;
}
.line-clamp-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
