<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 控制html解析、移动标记相关 -->
    <meta charset="UTF-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <!-- IOS特定的meta -->
    <meta content="telephone=no" name="format-detection">
    <title>EN NING LU: EN NING LU | LAOGUANGHUI</title>
    <!-- 针对特定的url进行dns预解析 -->
    <link rel="stylesheet" type="text/css" href="../lib/stylus/m-common.styl?__inline">
</head>
<body></body>
<footer>
    <script type="text/javascript" src="../lib/scrat.js"></script>
    <script src="../lib/anchor.js?__inline"></script>
</footer>
</html>