<!doctype html>
<!--STATUS OK-->
<html>
<head>
    <meta charset="utf-8">
    <title>100cake-fun: cake | 100 Cake</title>
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <link rel="icon" href="../lib/favicon.ico" sizes="16x16" type="image/png"> 
    <link rel="stylesheet" type="text/css" href="../lib/stylus/base.styl?__inline">
    <!--[STYLES]-->
</head>
<body>
</body>
<footer>
    <script type="text/javascript" src="../lib/jquery-1.12.1.js?__inline"></script>
    <script type="text/javascript" src="../lib/jQuery.XDomainRequest.js?__inline"></script>
    <script type="text/javascript" src="../lib/scrat.js?__inline"></script>
    <script src="../lib/anchor.js?__inline"></script>
    <!--[SCRIPTS]-->
</footer>
</html>