.wap-theme
  padding-left 11px
  display -webkit-box
  -webkit-box-pack justify
  color #999999
  font-size 15px
  height 21px
  line-height 21px
  position relative
  i
    height 21px
    width 5px
    display inline-block
    margin-right 6px
    position absolute
    left 0

.wap-theme-green
  background-color #6fda9f

.wap-theme-gray
  background-color #b9c1cc

.wap-theme-blue
  background-color #aac4ec

.wap-theme-cyan
  background-color #b7eef2

.wap-theme-pink
  background-color #ff8393

.wap-theme-orange
  background-color #f7b47e
  
