<div class="w2t-box">
	<div class="w2t-content" style="text-align: <%= content1.text_align%>;">
		<p><%=content1.text%></p>
	</div>
	<div class="w2t-content" style="text-align: <%= content2.text_align%>;">
		<p><%=content2.text%></p>
	</div>
</div>
<div style="height: 1em"></div>