.w2t-box 
	padding 0 .9375em
	display: -webkit-box;

.w2t-content 
	-webkit-box-flex: 1;
	padding 0 .3em
	
	p 
		line-height: 1.6em;
		font-size: 1.1em;
		font-family: "微软雅黑";
		color: black;
		word-break: break-all; 
		word-wrap: break-word;
