.w1t-box {
	padding 0 .9375em
 	display: -webkit-box;
    margin: 0 auto;
}

.w1t-content {
	-webkit-box-flex: 1;
	padding-left: 8px;
	margin-right: 8px;
}

.w1t-box p {
	line-height: 1.6em;
	font-size: 1.1em;
	font-family: "微软雅黑";
	color: black;
}