<section style="padding: 10px 15px 10px 10px;" class="wap-foucs-wrap">
    <section style="display: inline-block;">
        <img data-ratio="2" data-type="png" data-w="25"
             src="http://o9fs1vs45.bkt.clouddn.com/back.png"
             style="vertical-align: top;">
        <img border="0" data-ratio="1"
             data-type="jpeg" data-w="100"
             data-width="100px" height="100"
             src="<%=img%>"
             style="margin-top: 20px; width: 100px;"
             title="undefined" vspace="0"
             width="100">
        <section style="margin-top: 35px; padding-left: 20px; vertical-align: top; display: inline-block;"><p
                    style="line-height: 25.6px;"><span style="font-size: 12px;"><%=desc%></span></p>

            <p style="line-height: 25.6px;"><span style="font-size: 12px;"><%=msg%></span></p></section>
    </section>
</section>