.rich_media_content * {
  max-width: 100%!important;
  box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  word-wrap: break-word!important;
}

img {
  height: auto!important;
}

.wap-foucs-wrap
  margin  14px